In [13]:
from shapely.geometry import Point, LineString, Polygon

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('travelTimes_2015_Helsinki.txt', sep=';')

In [7]:
data = data[['from_x', 'from_y', 'to_x', 'to_y']]

In [20]:
def get_origin_geom(row):
    return Point(row['from_x'], row['from_y'])

def get_dest_geom(row):
    return Point(row['to_x'], row['to_y'])

data['origin_point'] = data.apply(get_origin_geom, axis=1)
data['dest_point'] = data.apply(get_dest_geom, axis=1)

c:\Users\roseh\miniconda3\envs\gis-env\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
c:\Users\roseh\miniconda3\envs\gis-env\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

In [21]:
data.head(3)

,from_x,from_y,to_x,to_y,origin_point,dest_point
0,24.970438,60.311917,24.856034,60.399941,POINT (24.9704379 60.3119173),POINT (24.8560344 60.3999406)
1,24.970438,60.311917,24.860568,60.400014,POINT (24.9704379 60.3119173),POINT (24.8605682 60.4000135)
2,24.970438,60.311917,24.865102,60.400086,POINT (24.9704379 60.3119173),POINT (24.865102 60.4000863)